.how {
	padding: 30px 10px;
	text-align: center;
}

/* SECTION */
.how-section {
	position: relative;
	background-image: url("/img/Fondo1.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 50px 20px;
}

.how-section > * {
	position: relative;
	z-index: 2;
}

/* TITLE */
.hero-title {
	font-size: 1.8rem;
	line-height: 1;
	margin-bottom: 25px;
	font-weight: 900;
	text-align: center;
	color: white;
}

/* WRAPPER (CLAVE) */
.how-wrapper {
	overflow: hidden;
	width: 100%;
}

/* CARRUSEL */
.how-steps {
	display: flex;
	gap: 30px;
	width: max-content;
	padding: 10px 10px 20px;
	will-change: transform;
}

/* STEP */
.how-step {
	min-width: 160px;
	max-width: 180px;
	flex-shrink: 0;

	display: flex;
	flex-direction: column;
	align-items: center;

	transition: transform 0.3s ease;
}

/* NUMBER */
.step-number {
	background: #f7aa20;
	color: white;
	width: 28px;
	height: 28px;
	border-radius: 50%;
	font-size: 18px;

	display: flex;
	align-items: center;
	justify-content: center;

	margin-bottom: 8px;
}

/* ICON */
.how-icon {
	background: white;
	width: 120px;
	height: 120px;
	border-radius: 50%;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: center;

	margin-bottom: 10px;
}

.how-icon img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

/* TEXT */
.how-step h3 {
	font-size: 1rem;
	background-color: white;
	padding: 8px;
	border-radius: 20px;
}

.how-step p {
	font-size: 0.85rem;
	color: #ffffff;
	font-weight: bold;
	max-width: 200px;
}

/* COLORS */
.step1 {
	color: #f7aa20;
}
.step2 {
	color: #ec5a40;
}
.step3 {
	color: #1a99aa;
}
.step4 {
	color: #f18d8d;
}

.fondo-step1 {
	background: #f7aa20;
	color: white;
}
.fondo-step2 {
	background: #ec5a40;
	color: white;
}
.fondo-step3 {
	background: #1a99aa;
	color: white;
}
.fondo-step4 {
	background: #f18d8d;
	color: white;
}

/* DESKTOP */
@media (min-width: 768px) {
	.how-step {
		min-width: 180px;
	}
}
