.quienes {
	padding: 50px 20px;
	text-align: center;
	position: relative;
}

/* ⭐ rating */
.rating {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 6px;
	margin-bottom: 18px;
}

.rating span {
	font-size: 0.85rem;
	color: #666;
}

/* 🧠 título */
.quienes h2 {
	font-size: 1.8rem;

	font-weight: 700;
	margin-bottom: 14px;
	line-height: 1;
}

/* texto */
.subtitle {
	font-size: 0.95rem;
	color: #6a6767;
	margin-bottom: 24px;
	font-weight: 600;
}

/* botón */
.cta {
	background: #2f3dbd;
	color: white;
	border: none;
	padding: 14px 24px;
	border-radius: 12px;
	font-weight: 600;
}

/* contenido arriba */
.quienes h2,
.quienes .subtitle,
.quienes .rating,
.quienes .cta {
	position: relative;
	z-index: 2;
}

/* 🎭 PERSONAJE */
.personaje {
	position: absolute;
	bottom: -80px;
	right: -20px;
	width: 200px;

	z-index: 4;

	/* 👇 sobresale sin romper layout */
	transform: translateY(40px) rotate(2deg);

	animation: saludo 2s ease-in-out infinite;
	filter: drop-shadow(0px 8px 15px rgba(0, 0, 0, 0.3));
}

@keyframes saludo {
	0%,
	100% {
		transform: translateY(40px) rotate(2deg);
	}

	20% {
		transform: translateY(36px) rotate(6deg);
	}

	40% {
		transform: translateY(38px) rotate(3deg);
	}

	60% {
		transform: translateY(35px) rotate(7deg);
	}

	80% {
		transform: translateY(38px) rotate(3deg);
	}
}

.rating {
	display: flex;
	flex-direction: column; /* 👈 clave */
	align-items: center;
	gap: 6px;
	margin-bottom: 18px;
}
.stars {
	display: flex;
	gap: 6px;
}
.rating img {
	width: 40px;
}
